table {
  background: rgb(166, 150, 173);
  border: 2px solid rgb(67, 0, 129);
  margin: auto;
  align-items: center;
}

tr {
  /** Faz o estilo para as linhas. **/
  text-align: center;
  border: 2px solid rgb(67, 0, 129);
}

th {
  /** Faz o estilo para as células do cabeçalho. **/
  background-color: rgb(67, 0, 129);
  font-size: 16pt;
  color: rgb(187, 161, 189);
  border: 2px solid rgb(67, 0, 129);
}

td {
  background-color: rgb(187, 161, 189);
  color: rgb(67, 0, 129);
}
